<?xml version="1.0"?>
<!--
* This file is part of Zepgram\ZeroDowntimeDeployment\etc
*
* @package    Zepgram\ZeroDowntimeDeployment
* @file       module.xml
* @date       18 05 2020 17:20
*
* @author     Benjamin Calef <zepgram@gmail.com>
* @copyright  2020 Zepgram Copyright (c) (https://github.com/zepgram)
* @license    MIT License
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Zepgram_ZeroDowntimeDeployment" setup_version="0.0.2">
        <sequence>
            <module name="Magento_Deploy"/>
        </sequence>
    </module>
</config>
